.shelfbar {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0%;
    width: 100%;
    height: 10%;
    background: #AB2A19;
    /* border: solid black 1px; */
}

.binlabel {
    position: relative;
    left: 3%;
    top: 15%;
    /* border: solid black 1px; */
}

.bin-shelf-letter {
    position: absolute;
    left: 10%;
    width: 16%;
    height: 100%;
    background: #D34735;
    /* border: solid black 1px; */
}

.bin-shelf-title {
    position: absolute;
    top: 29%;
    left: 30%;
}

.bin-number {
    position: absolute;
    left: 26%;
    width: 100%;
    height: 100%;
    background: #ED6B5A;
    /* border: solid black 1px; */
}

.bin-title {
    position: relative;
    top: 29%;
    right: 46%;
}

.product-img {
    position: absolute;
    top: 15%;
    left: 7%;
    height: 250px;
    width: 250px;
    background: green;
    border: solid black 1px
}

.add-product {
    position: absolute;
    top: 13%;
    left: 26%;
    height: 40%;
    width: 55%;
    /* border: solid black 1px; */
}

p {
    position: relative;
    right: 45%;
    font-weight: 700;
    font-size: 20px;
}

input {
    position: relative;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 10px;
    border: solid #ED6B5A 1px;
    border-radius: 5px;
    height: 75px;
    width: 95%;
    font-weight: 700;
    font-size: 30px;
}

input:hover {
    margin-top: 22px;
    margin-bottom: 22px;
    border: solid #AB2A19 3px;
}

.edel-container {
    height: 75px;
    /* border: solid black 1px; */
}

.edit-delete {
    position: relative;
    left: 13%;
    margin-right: 275px;
    height: 75px;
    width: 250px;
    border: none;
    border-radius: 5px;
    background: #D8D8D8;
    font-weight: 700;
    font-size: 30px;
}