.shelfbar {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0%;
    width: 100%;
    height: 10%;
    background: #AB2A19;
    /* border: solid black 1px; */
}

.shelflabel {
    position: relative;
    left: 10%;
    top: 17%;
    /* border: solid black 1px; */
}

.shelf-letter {
    position: absolute;
    left: 25%;
    width: 75%;
}

.shelf-title {
    position: absolute;
    left: 2%;
    top: 30%;
}

.bin-display {
    position: absolute;
    margin: auto;
    top: 95px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 25%;
    width: 100%;
    display: block;
    flex-direction: column;
    justify-content: center;
}

a {
    text-decoration: none;
}

.bin-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 5px;
    height: 90px;
    width: 50%;
    margin-bottom: 25px;
    padding-right: 30%;
    background: #ED6B5A;
    color: white;
    font-weight: 700;
    font-size: 35px;
}

.shelf-letter {
    height: 100%;
    background: #D34735;
}

#plus-to-bin {
    background: #FFB8AF;
    color: black;
    padding-right: 24%;
}