
.navbar {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0%;
    width: 100%;
    height: 10%;
    background: #AB2A19;
}

.navlabel {
position: absolute;
top: 15%;
left: 26%;
  
}

h1 {
    color: white;
    font-weight: 700;
    font-size: 35px;
}

.navshelfie {
    position: absolute;
    left: 120%;
    top: 20px;
}

.shelf-display {
    position: absolute;
    margin: auto;
    top: 95px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 25%;
    width: 100%;
    display: block;
    flex-direction: column;
    justify-content: center;
}

a {
    text-decoration: none;
}

.shelf-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 5px;
    height: 90px;
    width: 50%;
    margin-bottom: 25px;
    padding-right: 30%;
    background: #ED6B5A;
    color: white;
    font-weight: 700;
    font-size: 35px;
}