.navbar {
    position: absolute;
    top: 0%;
    width: 100%;
    height: 10%;
    background: #AB2A19;
}

.navlabel {
    position: relative;
    right: 22vw;
    margin: auto;
    top: 15%;
  
}

.navshelfie {
    position: absolute;
    right: 40vw;
    top: 20px;
    color: white;
    font-weight: 700;
    font-size: 35px;

}